*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primery-color: #fc5d66;
  --secondory-color: #ffc05a;
  --light-color: #f9fafb;
  --dark-color: #272d35;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/*utlity*/
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.container-sm {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2rem;
}

.btn {
  display: inline-block;
  padding: 1.3rem 2.3rem;
  border: 1px solid var(--secondory-color);
  border-radius: 32px;
  background: var(--secondory-color);
  color: var(--dark-color);
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  background: var(--primery-color);
  color: #fff;
  border-color: #fff;
}

.navbar.navbar-scroll {
  background-color: rgba(235, 77, 85, 0.8);
  backdrop-filter: blur(10px);
}

/*section header*/
.section-header {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3rem;
}

.section-header h2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--dark-color);
  margin-bottom: 0.5rem;
}

.section-header p {
  font-size: 1.2rem;
  color: var(--dark-color);
}

.heading-border {
  width: 64px;
  height: 4px;
  background: var(--primery-color);
  margin: 0 auto 2rem;
}

.navbar {
  background: transparent;
  color: white;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out;
}

.navbar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .main-menu-list {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 600;
}

.navbar a {
  color: #fff;
}

.navbar a:hover {
  color: var(--secondory-color);
}

.navbar i {
  font-size: 1.5rem;
}

/*mobile menu*/
.mobile-menu {
  display: none;
}

.navbar .mobile-menu-toggle {
  color: #ffc05a;
  cursor: pointer;
}

.navbar .mobile-menu-items {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: rgb(0, 0, 0, 0.8);
  opacity: 0.95;
  padding: 3rem 2rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.navbar .mobile-menu-items.active {
  transform: translateX(0);
}

.navbar .mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.2rem;
}

/*hero*/
.blob {
  width: 700px;
  /* increased */
  height: 400px;
  /* increased */
  overflow: hidden;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
}

.blob img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero {
  background: url(../images/header-background.png) center center/cover no-repeat;
  padding: 11.5rem 2rem 8rem;
  color: #fff;
  overflow-x: hidden;
  position: relative;
}

.hero-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
  padding-bottom: 8rem;
}

.hero h1 {
  font-size: 3.5rem;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  line-height: 1.8;
  font-weight: 400;
}

.hero .frame-decoration {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

/*topics*/
.topics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.topic img {
  transition: transform o.3s;
}

.topic img:hover {
  transform: scale(1.1);
}

.topic h3 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0.5rem 0;
}

.section {
  margin: 4rem 0;
}

/* chapter cards*/
.chapter-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  /* space between cards */
  margin-top: 2rem;
  /* optional: space above the cards */
}

.chapter-cards img {
  width: 130px;
  height: 130px;
  margin-top: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 2rem 1.75rem;
  background: #fff;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
}

.chapter-cards h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 1rem 0;
}

/*summery*/
.summery {
  background: var(--light-color);
  color: var(--dark-color);
  padding: 4rem 2rem 5rem;
}

.summery .section-list {
  background: #fff;
  padding: 2rem;
}

.summery .list-header {
  background: var(--primery-color);
  color: #fff;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 1rem 0;
}

.summery .list-item {
  padding: 1.4rem 0;
  border-bottom: 1px solid #f1f4f6;
  padding-left: 2rem;
  text-indent: -1.5rem;
}

.summery {
  text-align: center;
  /* force left alignment */
}

.summery .list-item {
  padding: 1.4rem 0;
  border-bottom: 1px solid #f1f4f6;
}

.summery .list-item:last-child {
  border-bottom: none;
}

/*info section*/
.info-container {
  background: url("../images/audience.jpg") top center/cover no-repeat;
  display: flex;
}

.info-content {
  background-color: var(--primery-color);
  color: #fff;
  flex: 1;
  padding: 4rem;
}

.info-content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.info-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.info-content ul li {
  font-size: 1.2rem;
  line-height: 2;
}

.info-content i {
  margin-right: 0.5rem;
  color: var(--secondary-color);
}

.info-left {
  width: 50%;
}

.text-primary {
  color: var(--primery-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.takeaway-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1.5rem;
}

.takeaway-cards .card {
  flex-direction: row;
  text-align: left;
  gap: 0.6rem;
}
.details .details-flex {
  display: flex;
  gap: 4rem;
  justify-content: center;
}
.details img {
  width: 100%;
  max-width: 500px;
}
.details h2 {
  font-size: 2rem;
  font-weight: 700;
}
.details .heading-border {
  margin: 0;
}
.details p {
  margin: 1rem 0 2rem;
}
.details + .details .details-flex {
  flex-direction: row-reverse;
}
.details ul {
  margin-bottom: 2rem;
}
.details ul li {
  line-height: 1.2;
}
.details i {
  margin-right: 0.5rem;
}
.stats {
  background: #000 url(../images/stats-background.jpg) center center/cover
    no-repeat;
  color: #fff;
}
.stats-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 2rem;
}
.stats img {
  width: 100%;
  max-width: 500px;
}
.stats-content {
  max-width: 500px;
}
.stats .stats-numbers {
  display: flex;
  gap: 2rem;
  max-width: 2rem 0;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
}
.stats .stats-numbers h3 {
  font-size: 3rem;
  font-weight: 700;
}
.stats .stats-numbers p {
  font-size: 0.8rem;
}
.stats .stats-text {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  text-align: center;
}
.stats .btn {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  text-align: center;
  margin-left: 7rem;
}
.newsletter {
  text-align: center;
  margin: 0 2rem;
}
.newsletter-flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  background-color: var(--light-color);
  border: 1px solid #eee;
  padding: 4rem 2rem;
}
.newsletter h2 {
  font-size: 2rem;
  font-weight: 700;
}
.newsletter p {
  max-width: 600px;
}
.newsletter input[type="email"] {
  padding: 1rem 2rem;
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 32px;
  max-width: 400px;
  margin: 1rem 0;
}
/* Social */
.social {
  background: var(--dark-color);
  color: #fff;
  padding: 4rem 2rem;
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 0;
}

.social a,
.footer a {
  color: #fff;
}

.social a:hover,
.footer a:hover {
  color: var(--secondory-color);
}

.social p {
  margin-bottom: 1rem;
}

.social .social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

/* Footer */
.footer {
  background: var(--dark-color);
  color: #fff;
  border-top: 1px solid #384653;
  padding: 0.5rem 2rem;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
}
/* inner header*/
.inner-header {
  background: var(--primery-color);
  color: #fff;
  height: 250px;
  padding-top: 8rem;
}
.inner-header h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

/* Contact Form */
.contact-form p {
  margin-bottom: 3rem;
}

.contact-form input,
.contact-form textarea {
  display: block;
  font-family: inherit;
  font-size: medium;
  width: 100%;
  margin: 1.5rem 0;
  border: 1px solid #ccc;
  padding: 1.2rem 1rem;
}

.contact-form textarea {
  height: 200px;
}

.contact-form .btn {
  display: block;
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  margin: 0 auto;
}
/* Location */
.location h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.location p {
  margin-bottom: 2rem;
}

.location .map {
  overflow: hidden;
  position: relative;
  height: 0;
  margin-bottom: 3rem;
  padding-bottom: 50%;
  border-radius: 0.25rem;
}

.location .map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
@media (max-width: 1200px) {
  .hero .hero-flex {
    gap: 2rem;
  }

  .hero img {
    max-width: 500px;
    margin-right: 0;
  }

  .hero h1 {
    font-size: 3rem;
  }

  .topics {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 992px) {
  .hero {
    text-align: center;
  }

  .hero .hero-flex {
    flex-direction: column;
    padding-bottom: 4rem;
  }

  .hero img {
    max-width: 600px;
    margin-top: 2rem;
  }

  .topics {
    grid-template-columns: repeat(2, 1fr);
  }

  .chapter-cards {
    grid-template-columns: 1fr;
  }

  .takeaway-cards {
    grid-template-columns: 1fr;
  }
  .details-flex,
  .details + .details .details-flex,
  .stats .stats-flex {
    flex-direction: column;
    gap: 2rem;
  }
}

@media (max-width: 768px) {
  .main-menu-items {
    display: none;
  }

  .navbar .mobile-menu {
    display: block;
  }

  .navbar .mobile-menu-toggle {
    display: block;
    padding: 10px;
  }

  .topics {
    grid-template-columns: 1fr;
  }

  .info-container {
    flex-direction: column;
  }

  .info-content {
    font-size: 1.5rem;
  }

  .info-left {
    display: none;
  }
  .stats .stats-numbers {
    display: block;
  }
  .footer-flex {
    flex-direction: column;
  }
  .social p {
    font-size: 1.3rem;
  }
  .social i {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  .hero {
    padding-right: 0.2rem;
    padding-left: 0.2rem;
  }

  .hero h1 {
    font-size: 2.5rem;
  }

  .hero img {
    max-width: 350px;
  }

  .topics {
    grid-template-columns: 1fr;
  }
  .newsletter h2 {
    font-size: 1.5rem;
  }
  .newsletter p {
    display: none;
  }
}
